@import 'fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    @apply h-full;
}

* {
    scrollbar-width: thin;
    /* Dark-6 */
    scrollbar-color: #E8E8E8 transparent;
}


::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #E8E8E8;
    border-radius: 16px;
}
