@import 'fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    @apply h-full;
}

.notes-scroll, input[value='text'], textarea {
    scrollbar-width: thin;
    /* Dark-6 */
    scrollbar-color: #E8E8E8 transparent;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #E8E8E8;
    border-radius: 16px;
}

.heading2Sidemenu {
    font-size: 18px;
    font-weight: 500;
}

.heading3Sidemenu {
    font-size: 16px;
    font-weight: 500;
}

.cardinput textarea {
    resize: none;
}
